/* top-line */
.first_screen {
  display: grid;
  width: 1920px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 840px;
  background: url(/assets/header1.svg);
}
.logo {
  justify-self: center;
  align-self: flex-start;
  width: 134px;
  height: 50px;
  margin-top: 30px;
}
.logo1 {
  font-family: "Post No Bills Jaffna SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  letter-spacing: 0.12em;
  justify-self: self-end;
  color: #ffffff;
}
.first-screen__menu {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  margin-top: 55px;
  justify-self: end;
}

.first-screen__center {
  width: 556px;
  height: 109px;
  grid-area: 3/2;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  justify-self: center;
  /* accent */
  color: #d4c17f;
}
.mouse {
  width: 40px;
  height: 40px;
  background: url(/assets/mouse.svg);
  grid-area: 4/2;
  justify-self: center;
}

.phone-call {
  width: 139px;
  height: 21px;
  grid-area: 5/2;
  justify-self: end;
  margin-right: 240px;
}
.placeholder {
  width: 218px;
  height: 21px;
  grid-area: 5/2;
  justify-self: flex-start;
  margin-left: 240px;
}
.vector1 {
  grid-area: 5/2;
  width: 15px;
  height: 21px;
  margin-left: 220px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: url(/assets/group1.svg);
}
.phone-cimg {
  grid-area: 5/2;
  background: url(/assets/phone-call.svg);

  width: 21px;
  height: 21px;
  margin-left: 550px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.phone-call.text,
.placeholder.text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}

.testimonials {
  display: grid;
  width: 1920px;
  grid-template-columns: 563px 1fr 1fr 1fr 1fr 563px;
  grid-template-rows: 1fr 1fr 1fr;

  height: 360px;

  justify-items: center;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(/assets/header1.svg);
}

.bench {
  grid-area: 1 / 2;
  background: url(/assets/bench.svg);
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.buil {
  grid-area: 1 / 3;
  background: url(/assets/building.svg);
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.fontan {
  grid-area: 1 / 4;
  background: url(/assets/fountain.svg);
  width: 80px;
  height: 80px;
  margin-top: 15px;
}

.bycic {
  grid-area: 1 / 5;
  background: url(/assets/bicycle.svg);
  width: 88px;
  height: 80px;
  margin-top: 10px;
}
.tex1,
.tex2,
.tex3,
.tex4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}
.tex1 {
  grid-area: 2 / 2;
}
.tex2 {
  grid-area: 2 / 3;
}
.tex3 {
  grid-area: 2 / 4;
}
.tex4 {
  grid-area: 2 / 5;
}
.appartments {
  width: 1920px;
  height: 806px;
  display: grid;
  grid-template-columns: 405px 1fr 1fr 405px;
  grid-template-rows: 40px 100px 1fr 1fr;
  column-gap: 30px;
  background: linear-gradient(
    180deg,
    #242b33 11.98%,
    rgba(45, 52, 60, 0.38) 51.04%,
    #242b33 92.19%
  );
}

.apptext {
  grid-area: 1 / 2;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #d4c17f;
}
.app1 {
  grid-area: 3/2;
  width: 535px;
  height: 320px;
  justify-self: start;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(/assets/apart1.svg), #d4c17f;
}
.apptex1,
.apptex12 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 50%;
  margin-left: 50px;
}
.app2 {
  grid-area: 3/3;
  width: 535px;
  height: 320px;
  justify-self: start;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(/assets/apart2.svg), #d4c17f;
}
.app3 {
  grid-area: 4/2;
  width: 535px;
  height: 320px;
  justify-self: start;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(/assets/apart3.svg), #d4c17f;
}

.app4 {
  grid-area: 4/3;
  width: 535px;
  height: 320px;
  justify-self: start;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%),
    url(/assets/apart4.svg), #d4c17f;
}

.cta {
  display: grid;
  width: 1920px;
  height: 560px;
  gap: 35px;
  grid-template-columns: 405px 535px 255px 1fr;
  grid-template-rows: 180px 135px 50px 180px;
  background-image: url(/assets/ctaback.svg);
}

.ctatex1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #bebebe;
  margin-top: 8px;
}
.cta1 {
  grid-area: 1/2;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #d4c17f;
  margin-top: 110px;
}
.cta2 {
  grid-area: 2/2;
  width: 535px;
  height: 266px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #ffffff;
}
.cta3 {
  grid-area: 2/3;
  width: 255px;
  height: 50px;
  text-align: center;
  align-self: start;
  background: #ffffff;
  opacity: 0.2;
}

.cta4 {
  grid-area: 2/3;
  width: 255px;
  height: 50px;
  align-self: flex-end;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.cta5 {
  grid-area: 2/4;
  width: 255px;
  height: 50px;
  text-align: center;
  align-self: start;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  /* identical to box height, or 193% */
  color: #bebebe;

  background: #ffffff;
  opacity: 0.2;
}

.cta6 {
  grid-area: 2/4;
  width: 255px;
  height: 50px;
  text-align: center;
  align-self: flex-end;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  background: #d4c17f;
  color: #ffffff;
  margin-top: 8px;
}

.foot {
  display: grid;
  width: 1920px;
  height: 272px;
  grid-template-columns: 405px 134px 166px 119px 167px 119px 166px 239px 405px;
  grid-template-rows: 78px 149px 51px;
  background: #2d343c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-screen__logo {
  grid-area: 2/2;
  width: 134px;
  height: 66px;
  background: url(/assets/first-screen__logo.svg);
}
.ftex1,
.ftex2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__col1 {
  grid-area: 2/4;
}

.footer__col2 {
  grid-area: 2/6;
}
.footer__col3 {
  grid-area: 2/8;
}
.ftex3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.vect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 60px;
  margin-top: 20px;
}
.vect1 {
  width: 28.26px;
  height: 20px;

  background: url(/assets/vector_vk.svg);
}

.vect2 {
  width: 35.05px;
  height: 20px;

  background: url(/assets/vector_tube.svg);
}
.vect3 {
  width: 20px;
  height: 20px;

  background: url(/assets/facebook-logo.svg);
}
.vect4 {
  width: 20px;
  height: 20px;

  background: url(/assets/instagram.svg);
}
