/* top-line */
.first_screen {
  display: grid;
  width: 1920px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-self: center;
  height: 840px;

  background: url(/assets/header1.svg);
}
.logo {
  justify-self: center;
  align-self: flex-start;
  width: 134px;
  height: 50px;
  margin-top: 30px;
}
.logo1 {
  font-family: "Post No Bills Jaffna SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  letter-spacing: 0.12em;
  justify-self: self-end;
  color: #ffffff;
}
.first-screen__menu {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  margin-top: 55px;
  justify-self: end;
}

.first-screen__center {
  width: 556px;
  height: 109px;
  grid-area: 3/2;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  justify-self: center;
  /* accent */
  color: #d4c17f;
}
.mouse {
  width: 40px;
  height: 40px;
  background: url(/assets/mouse.svg);
  grid-area: 4/2;
  justify-self: center;
}

.phone-call {
  width: 139px;
  height: 21px;
  grid-area: 5/2;
  justify-self: end;
  margin-right: 240px;
}
.placeholder {
  width: 218px;
  height: 21px;
  grid-area: 5/2;
  justify-self: flex-start;
  margin-left: 240px;
}
.vector1 {
  grid-area: 5/2;
  width: 15px;
  height: 21px;
  margin-left: 220px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: url(/assets/group1.svg);
}
.phone-cimg {
  grid-area: 5/2;
  background: url(/assets/phone-call.svg);

  width: 21px;
  height: 21px;
  margin-left: 550px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.phone-call.text ,
.placeholder.text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}

.testimonials {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  width: 794px;
  height: 180px;
  margin-left: 563px;
  justify-items: center;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(/assets/header1.svg);
}

.bench {
  grid-area: 1 / 1;
  background: url(/assets/bench.svg);
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.buil {
  grid-area: 1 / 2;
  background: url(/assets/building.svg);
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.fontan {
  grid-area: 1 / 3;
  background: url(/assets/fountain.svg);
  width: 80px;
  height: 80px;
  margin-top: 15px;
}

.bycic {
  grid-area: 1 / 4;
  background: url(/assets/bicycle.svg);
  width: 88px;
  height: 80px;
  margin-top: 10px;
}
.tex1 , 
.tex2 , 
.tex3 ,
.tex4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  
  text-align: center;
    color: #FFFFFF;
  
}

.appartments {
  width: 1100px;
height: 806px;

margin-left: 405px;

display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36px 100px 1fr 1fr;
  justify-self: center;
  
 
  column-gap: 30px;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    );
}

.apptext {
  grid-area: 1 / 1;
  font-family: 'Playfair Display', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;

color: #D4C17F;
}
.app1 {
  grid-area: 3/1;
  width: 535px;
height: 320px;
left: 405px;
top: 1396px;
justify-self: start;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(/assets/apart1.svg), #D4C17F;
}
.apptex1 , 
.apptex12 {
  Font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
    color: #FFFFFF;
    margin-top: 50%;
    align-self: end;
   
    }
    .app2 {
      grid-area: 3/2;
      width: 535px;
      height: 320px;
      left: 970px;
      top: 1396px;
      
    justify-self: start;
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(/assets/apart2.svg), #D4C17F;
    }  
    .app3 {
      grid-area: 4/1;
      width: 535px;
      height: 320px;
      left: 405px;
      top: 1746px;
      
    justify-self: start;
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(/assets/apart3.svg), #D4C17F;
    }    
    .app4 {
      grid-area: 4/2;
      width: 535px;
    height: 320px;
    left: 405px;
    top: 1396px;
    justify-self: start;
      background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(/assets/apart4.svg), #D4C17F;
    }

    .cta {
      display: grid;
      width: 1920px;
height: 1560px;
top: 2066px;
gap: 35px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 35px 1fr;
  
  background: url(/assets/header1.svg);
}

.cta1 {
  grid-area: 2/1;
  font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;

color: #D4C17F;

}
.cta2 {
  grid-area: 2/2;
  width: 535px;
height: 114px;
left: 405px;
top: 2332px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
color: #FFFFFF;

.cta3 {
  grid-area: 2/1;
  width: 255px;
height: 50px;
left: 975px;
top: 2311px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;
/* identical to box height, or 193% */
color: #BEBEBE;

background: #FFFFFF;
opacity: 0.2;

}